<div flex class="transactions" transactions-table layout-align="center">
  <div layout="row" layout-align="space-around" ng-if="!vm.transactions">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>


  <md-list class="md-dense" flex ng-cloak>
    <md-subheader class="md-no-sticky">Transactions</md-subheader>
    <md-list-item ng-repeat="transaction in vm.transactions" class="md-3-line">
      <div class="md-list-item-text" layout="column">
        <h3 ng-click="vm.showDetails(transaction, $event)">{{ transaction.concept }}</h3>
        <h4>${{ transaction.amount | number : 2}}</h4>
        <p>{{ transaction.transaction_date | amDateFormat:'MMMM Do YYYY, H:mm:ss' }}</p>
      </div>
      <md-icon ng-click="vm.delete(transaction.id, $event)">delete</md-icon>
    </md-list-item>
    <md-list-item ng-if="vm.transactions.length < 1">
      <p>No transactions found</p>
    </md-list-item>
  </md-list>
</div>
